In [14]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
con.close()

In [15]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
    
tablo_olustur()
con.close()

In [16]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle():
    cursor.execute("Insert into kitaplık Values('İstanbul Hatırası','Ahmet Ümit','Everest',561)")
    con.commit()
veri_ekle()
con.close()

# kullanıcıdan alınan verilerin eklenmesi

In [20]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle():
    cursor.execute("Insert into kitaplık Values('İstanbul Hatırası','Ahmet Ümit','Everest',561)")
    con.commit()
def veri_ekle2(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
    
isim=input("İsim: ")
yazar=input("Yazar: ")
yayınevi=input("Yayınevi: ")
sayfa_sayısı=int(input("Sayfa sayısı: "))
veri_ekle2(isim,yazar,yayınevi,sayfa_sayısı)
con.close()

İsim: Sultanı Öldürmek
Yazar: Ahmet Ümit
Yayınevi: Everest
Sayfa sayısı: 511

### Tablodaki verileri çekme

In [22]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)

#isim=input("İsim: ")
#yazar=input("Yazar: ")
#yayınevi=input("Yayınevi: ")
#sayfa_sayısı=int(input("Sayfa sayısı: "))
#veri_ekle(isim,yazar,yayınevi,sayfa_sayısı)
verileri_al2()
con.close()

Kitaplık tablosunun bilgileri....
('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 561)
('Cerrah', 'Tess Gerritsen', 'Doğan Kitap', 271)
('Yüzük Kardeşliği', 'J.R.R Tolkien', 'Metis Edebiyat', 486)
('İki Kule', 'J.R.R Tolkien', 'Metis Edebiyat', 381)
('Sultanı Öldürmek', 'Ahmet Ümit', 'Everest', 511)

In [23]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)

#isim=input("İsim: ")
#yazar=input("Yazar: ")
#yayınevi=input("Yayınevi: ")
#sayfa_sayısı=int(input("Sayfa sayısı: "))
#veri_ekle(isim,yazar,yayınevi,sayfa_sayısı)
verileri_al2()
con.close()

Kitaplık tablosunun bilgileri....
('İstanbul Hatırası', 'Ahmet Ümit')
('Cerrah', 'Tess Gerritsen')
('Yüzük Kardeşliği', 'J.R.R Tolkien')
('İki Kule', 'J.R.R Tolkien')
('Sultanı Öldürmek', 'Ahmet Ümit')

In [24]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al3(yayınevi):
    cursor.execute("Select * From kitaplık where Yayınevi=?",(yayınevi,))
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
        
#isim=input("İsim: ")
#yazar=input("Yazar: ")
#yayınevi=input("Yayınevi: ")
#sayfa_sayısı=int(input("Sayfa sayısı: "))
#veri_ekle(isim,yazar,yayınevi,sayfa_sayısı)
verileri_al3("Everest")
con.close()

Kitaplık tablosunun bilgileri....
('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 561)
('Sultanı Öldürmek', 'Ahmet Ümit', 'Everest', 511)

# Tablodaki Verileri Güncelleme

In [25]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al3(yayınevi):
    cursor.execute("Select * From kitaplık where Yayınevi=?",(yayınevi,))
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileriguncelle(eski_yayınevi,yeni_yayınevi):
    cursor.execute("Update kitaplık set Yayınevi=? where Yayınevi=?",(yeni_yayınevi,eski_yayınevi))
    con.commit()
#isim=input("İsim: ")
#yazar=input("Yazar: ")
#yayınevi=input("Yayınevi: ")
#sayfa_sayısı=int(input("Sayfa sayısı: "))
#veri_ekle(isim,yazar,yayınevi,sayfa_sayısı)
#verileri_al3("Everest")
verileri_al()
con.close()

Kitaplık tablosunun bilgileri....
('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 561)
('Cerrah', 'Tess Gerritsen', 'Doğan Kitap', 271)
('Yüzük Kardeşliği', 'J.R.R Tolkien', 'Metis Edebiyat', 486)
('İki Kule', 'J.R.R Tolkien', 'Metis Edebiyat', 381)
('Sultanı Öldürmek', 'Ahmet Ümit', 'Everest', 511)

In [26]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al3(yayınevi):
    cursor.execute("Select * From kitaplık where Yayınevi=?",(yayınevi,))
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileriguncelle(eski_yayınevi,yeni_yayınevi):
    cursor.execute("Update kitaplık set Yayınevi=? where Yayınevi=?",(yeni_yayınevi,eski_yayınevi))
    con.commit()
#isim=input("İsim: ")
#yazar=input("Yazar: ")
#yayınevi=input("Yayınevi: ")
#sayfa_sayısı=int(input("Sayfa sayısı: "))
#veri_ekle(isim,yazar,yayınevi,sayfa_sayısı)
#verileri_al3("Everest")
verileriguncelle("Doğan Kitap","Everest")
con.close()

In [27]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al3(yayınevi):
    cursor.execute("Select * From kitaplık where Yayınevi=?",(yayınevi,))
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileriguncelle(eski_yayınevi,yeni_yayınevi):
    cursor.execute("Update kitaplık set Yayınevi=? where Yayınevi=?",(yeni_yayınevi,eski_yayınevi))
    con.commit()
#isim=input("İsim: ")
#yazar=input("Yazar: ")
#yayınevi=input("Yayınevi: ")
#sayfa_sayısı=int(input("Sayfa sayısı: "))
#veri_ekle(isim,yazar,yayınevi,sayfa_sayısı)
#verileri_al3("Everest")
#verileriguncelle("Doğan Kitap","Everest")
verileri_al()
con.close()

Kitaplık tablosunun bilgileri....
('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 561)
('Cerrah', 'Tess Gerritsen', 'Everest', 271)
('Yüzük Kardeşliği', 'J.R.R Tolkien', 'Metis Edebiyat', 486)
('İki Kule', 'J.R.R Tolkien', 'Metis Edebiyat', 381)
('Sultanı Öldürmek', 'Ahmet Ümit', 'Everest', 511)

# Tablodaki Verileri silme

Tablodaki verileri silme için şöyle bir sorgu kullanabiliriz.

### Delete From kitaplık where Yazar = 'Ahmet Ümit' 

**Yazar özelliği 'Ahmet Ümit' olan kitapları tablodan siler.**

Şimdi isterseniz bu sorguyu çalıştırdığımız kodumuzu yazalım.

In [28]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al3(yayınevi):
    cursor.execute("Select * From kitaplık where Yayınevi=?",(yayınevi,))
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileriguncelle(eski_yayınevi,yeni_yayınevi):
    cursor.execute("Update kitaplık set Yayınevi=? where Yayınevi=?",(yeni_yayınevi,eski_yayınevi))
    con.commit()
def verileriSil(yazar):
    cursor.execute("Delete From kitaplık where Yazar=?",(yazar,))
    con.commit()
    
#isim=input("İsim: ")
#yazar=input("Yazar: ")
#yayınevi=input("Yayınevi: ")
#sayfa_sayısı=int(input("Sayfa sayısı: "))
#veri_ekle(isim,yazar,yayınevi,sayfa_sayısı)
#verileri_al3("Everest")
#verileriguncelle("Doğan Kitap","Everest")
#verileri_al()
verileriSil("Ahmet Ümit")
con.close()

In [29]:
import sqlite3
con = sqlite3.connect("kütüphane.db")

cursor=con.cursor()
def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplık")
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileri_al3(yayınevi):
    cursor.execute("Select * From kitaplık where Yayınevi=?",(yayınevi,))
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri....")
    for i in liste:
        print(i)
def verileriguncelle(eski_yayınevi,yeni_yayınevi):
    cursor.execute("Update kitaplık set Yayınevi=? where Yayınevi=?",(yeni_yayınevi,eski_yayınevi))
    con.commit()
def verileriSil(yazar):
    cursor.execute("Delete From kitaplık where Yazar=?",(yazar,))
    con.commit()
    
#isim=input("İsim: ")
#yazar=input("Yazar: ")
#yayınevi=input("Yayınevi: ")
#sayfa_sayısı=int(input("Sayfa sayısı: "))
#veri_ekle(isim,yazar,yayınevi,sayfa_sayısı)
#verileri_al3("Everest")
#verileriguncelle("Doğan Kitap","Everest")
verileri_al()
#verileriSil("Ahmet Ümit")
con.close()

Kitaplık tablosunun bilgileri....
('Cerrah', 'Tess Gerritsen', 'Everest', 271)
('Yüzük Kardeşliği', 'J.R.R Tolkien', 'Metis Edebiyat', 486)
('İki Kule', 'J.R.R Tolkien', 'Metis Edebiyat', 381)